@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/home.css" />

<div id="leonardo-malavolta" style="margin-top: 200px; scroll-margin-top: 150px;" class="row">
    <div class="col-6">
        <p id="sejaBemVindo" style="font-size: 25px; margin-left: 270px">Seja Bem Vindo! Me chamo</p>
        <p class="font-weight-bold" style="color: #108476; font-size: 30px; margin-left: 270px; margin-top:-20px">Leonardo Malavolta,</p>
        <p id="souDesenvolvedor" style="font-size: 25px; margin-left: 270px; margin-top: 30px">Sou desenvolvedor Full Stack.</p>
        <button id="botaoLinkeDin" style="margin-left:270px;" type="button" onclick="RedirecionarParaSite('https://www.linkedin.com/in/leonardo-malavolta-432456213/')">Visitar LinkeDin</button>
    </div>
    <div class="col-6">
        <img id="leonardo" style="margin-left:100px; margin-top:-50px" src="~/img/leonardo.png" alt="Brazil Flag">
    </div>
    <div id="sobre-mim" class="col-6" style="margin-top: 100px; scroll-margin-top: 150px;">
        <img id="computador" style="margin-left:240px; height:500px; margin-top:-50px" src="~/img/computador.png" alt="Brazil Flag">
    </div>
    <div  class="col-6" style="margin-top:150px">
        <p id="sobreMimTitulo" class="font-weight-bold sublinhado-metade" style="font-size: 30px;">Sobre Mim</p>
        <p id="sobreMimTexto" style="font-size: 18px; margin-right:50px">
            Passei 5 anos como representante comercial no ramo calçadista, um período de aprendizado intenso e crescimento pessoal.
            No entanto, decidi mudar de profissão em busca de algo que me trouxesse mais realização. Após meses de estudo e um estágio de 4 meses,
            agora trabalho como Junior Full Stack.<br /> O ano de 2023 foi incrível para mim, marcando uma fase significativa na minha trajetória!
            <br />Acompanhe as fotos logo abaixo!
        </p>
        <button id="botaoGit" type="button" onclick="RedirecionarParaSite('https://github.com/LeoMalavolta')">Visitar GitHub</button>
    </div>
    <div  id="tecnologias" class="col-6" style="margin-top:150px">
        <p id="tituloTecnologia" class="font-weight-bold sublinhado-metade" style="font-size: 30px; margin-left: 270px">Técnologias</p>
        <p id="textoTecnologia" style="font-size: 18px; margin-left: 270px ">Arraste o mouse por cima das técnologias para conhecer um pouco do meu trabalho com cada uma!</p>
    </div>
    <div class="col-6" style="margin-top:200px">
        <img id="tecnologiaCsharpe" style="cursor: pointer; height: 120px; margin-bottom: 80px; margin-left: 100px" src="~/img/csharpefinal.png" alt="C#">
        <i id="tecnologiaJavascript" style="cursor: pointer; font-size: 120px; color: #1D5F57; margin-left: 30px " class="fab fa-js-square"></i>
        <img id="tecnologiaHtml" style="cursor: pointer; height: 120px; margin-bottom: 80px; margin-left: 40px" src="~/img/html.png" alt="html">
        <img id="tecnologiaCss" style="cursor: pointer; height: 120px; margin-bottom: 80px; margin-left: 30px" src="~/img/css.png" alt="css">
        <i id="bancoDeDados" style="cursor: pointer; font-size: 120px; color: #1D5F57; margin-left: 30px " class="fas fa-database"></i>
    </div>
    <div id="contato" class="col-6" style="margin-top: 200px;">
        <div id="contatoEmail" style="margin-left:260px">
            <h2 id="enviarEmail">Enviar E-mail</h2>
            <form id="myForm">
                <label id="nomeEmailTitulo" for="name">Nome:</label> <br />
                <input style="width:540px" class="contato" type="text" id="nomeEmail" name="nomeEmail" required><br />
                <label id="mensagemEmailTitulo" for="message">Mensagem:</label><br />
                <textarea class="contato" id="mensagemEmail" name="mensagemEmail" rows="3" required></textarea>
            </form>
            <button id="enviarEmailBotao" type="button"  onclick="EnviarEmail()">Enviar Email</button>
        </div>
    </div>
    <div class="col-6" style="margin-top: 150px">
        <p id="contatoTitulo" class="font-weight-bold sublinhado-metade" style="font-size: 30px;">Contato</p>
        <p id="contatoTexto" style="font-size: 18px; margin-right:50px">
            Entre em contato para dúvidas, sugestões, orçamentos ou suporte.
        </p>
        <i class="fab fa-github" style="cursor: pointer; font-size: 30px; color: #1D5F57; margin-left: 360px" onclick="RedirecionarParaSite('https://github.com/LeoMalavolta')"></i>
        <i class="far fa-envelope" style="cursor: pointer; font-size: 30px; color: #1D5F57; margin-left: 15px" href="mailto:matheus.galhani@hotmail.com" target="_blank"></i>
        <i class="fab fa-linkedin-in" style="cursor: pointer; font-size: 30px; color: #1D5F57; margin-left: 15px" onclick="RedirecionarParaSite('https://www.linkedin.com/in/leonardo-malavolta-432456213/')"></i>
        <i class="fab fa-instagram" style="cursor: pointer; font-size: 30px; color: #1D5F57; margin-left: 15px" onclick="RedirecionarParaSite('https://www.instagram.com/leomalavolta_/')"></i>
    </div> 


</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/Home.js" asp-append-version="true"></script>
